---
layout: default
title: 공방공지
permalink: /notices/
---
{% include page-head.html icon="megaphone" kicker="작업실 소식" title="공방공지" lead="우리 공방의 공지사항입니다." %}

<div class="card list-card">
{%- assign notices = site.notices | sort: "date" | reverse -%}
{%- if notices.size > 0 -%}
<ul class="post-list notice-list">
  {%- for n in notices -%}
  <li class="post-item">
    <p class="post-meta"><time datetime="{{ n.date | date_to_xmlschema }}">{{ n.date | date: "%Y. %-m. %-d." }}</time></p>
    <a class="post-item-title" href="{{ n.url | relative_url }}">{{ n.title }}</a>
    {%- if n.excerpt -%}<p class="post-item-summary">{{ n.excerpt | strip_html | strip_newlines | truncate: 90 }}</p>{%- endif -%}
  </li>
  {%- endfor -%}
</ul>
{%- else -%}
{% include empty.html icon="megaphone" text="아직 공지가 없습니다." %}
{%- endif -%}
</div>
